header {
  text-align: center;
  background-color: #2B2B2B;
}

h1 {
  background-color: #787878;
}
div.App {
  background-color: #2B2B2B;
}

div.Inner {
  background-color: #787878;
  padding: 10px 50px 25px 50px;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  border-radius: 25px;
}

ol.tab-list {
  background-color: #3B3F42;
  border-top-style: solid;
  border-color: #2B2B2B;
  border-top: 1px;
  margin-block-start: 0;
  margin-block-end: 0;
  border-bottom: 0;
}

li {
  border-radius: 5px 5px 0 0;
}

li.tab-list-item {
  background-color: #787878;
  color: #ffffff;
  margin-bottom: 0;
}

li.tab-list-active {
  background-color: #787878;
}

div.Dropdown-control {
  width: 7%;
}

div.is-open {
  width: 7%;
}

td {
  border: 1px solid black;
  width: 50%;
  font-size: 500%;
}

.App-logo {
  animation: App-logo-spin infinite 100000s linear;
  height: 10vmin;
  pointer-events: none;
  position: relative;
  left: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.min-price-text {
  width: 1000px;
  text-align: center;
  padding-top: 50px;
}

ul.Button {
  position: absolute;
  top: 30%;
  left: 80%;
}

li.Button {
  background-color: #787878;
  border-style: solid;
  border-color: #2B2B2B;
  border-bottom-width: 2px;
}